<div class="f-wrapper">
    <div class="f-logo">
      <img src="images/Logo1.png" alt="logo">
    </div>
    <div class="address">
      <h2>FIFA QATAR 2022</h2>
      <a href="https://goo.gl/maps/mwkH1ERpTsoVr86j7">
        <p>4100 Mustard Dr #100<br>
          Nephi, UT</p>
      </a>
    </div>
    <div class="contact">
      <p>Info@TheWDD330Inn.com</p>
      <p>+(555) 123-4567</p>
    </div>
  </div>
  <div class="copyright">
    <p>&copy; <span id="year">2022</span> Miguel Condori</p>   

  </div>